<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= post.title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div>
      <button><a href="/posts">Back to Posts</a></button>
      <h1>Edit Post</h1>
      <form action="/post/edit/<%= post.id %>" method="POST">
        <input type="text" name="title" value="<%= post.title %>" required />
        <br />
        <textarea name="desc" cols="30" rows="10" required>
<%= post.desc %></textarea
        >
        <br />
        <input type="text" name="author" value="<%= post.author %>" required />
        <br />
        <button type="submit">Update Post</button>
      </form>
    </div>
    <script></script>
  </body>
</html>
