<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= post.title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body style="display: flex; align-items: center; justify-content: center">
    <main>
      <div>
        <span>
          <button><a href="/api/posts">Back to Posts</a></button>
        </span>
        <h1><%= post.title %></h1>
        <p><%= post.desc %></p>
        <p>Author: <%= post.author %></p>
        <span>
          <a href="/api/post/edit/<%= post.id %>">
            <button>Edit</button>
          </a>
          <form
            method="POST"
            class="buttons"
            action="/api/post/<%= post.id %>?_method=DELETE"
          >
            <button type="submit">Delete</button>
          </form>
        </span>
      </div>
    </main>
  </body>
</html>
